.grid{
    display: grid;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
}

/* 
body{
   
}

header{
    display: flex;
    align-content: space-around;
}

h1{
    color: #ffcb05;
    font-family: 'Press Start 2P', cursive;
    margin-left: auto;
    margin-right: auto;
}

p{
    font-family: inherit;
    align-self: center;
}

button{
    font-family : inherit;
    background-color: inherit;
    color: inherit;
    align-self: center;
} */